.menubar li {
	cursor: pointer;
}

ul.menu-tree > li {
	font-weight: bold;
}

ul.menu-tree-leaf > li {
	font-style: italic;
}

.menu-accordion-item .menu-accordion-item-header {
	font-style: italic;
}

.menu-accordion-item .menu-accordion-item-content {
	padding: 5px 10px;
}