<div class="">
    <h2>Buttons</h2>
</div>

<div class="row">
    <div class="col-lg-7">
        <div class="wrapper">
            <button type="button" class="btn btn-default rounded rounded-lg">Default</button>
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-success rounded">Success</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-warning rounded rounded-sm">Warning</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-link">Link</button>
            <button type="button" class="btn btn-white">White</button>
        </div>

        <div class="wrapper">
            <button type="button" class="btn btn-default btn-outline rounded rounded-lg">Default</button>
            <button type="button" class="btn btn-primary btn-outline">Primary</button>
            <button type="button" class="btn btn-success btn-outline rounded">Success</button>
            <button type="button" class="btn btn-info btn-outline">Info</button>
            <button type="button" class="btn btn-warning btn-outline rounded rounded-sm">Warning</button>
            <button type="button" class="btn btn-danger btn-outline">Danger</button>
            <button type="button" class="btn btn-link btn-outline">Link</button>
            <button type="button" class="btn btn-white">White</button>
        </div>

        <div class="wrapper">
            <div class="btn-group">
                <button type="button" class="btn btn-default">Default</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary">Primary</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-success">Success</button>
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-info">Info</button>
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-warning">Warning</button>
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="wrapper" style="padding-left: 1em;">
            <button type="button" class="btn btn-default btn-pointy-left">Default</button>
            <button type="button" class="btn btn-primary btn-pointy-left">Primary</button>
            <button type="button" class="btn btn-success btn-pointy-left">Success</button>
            <button type="button" class="btn btn-link">Link</button>
            <button type="button" class="btn btn-info btn-pointy-right">Info</button>
            <button type="button" class="btn btn-warning btn-pointy-right">Warning</button>
            <button type="button" class="btn btn-danger btn-pointy-right">Danger</button>
        </div>
    </div>

    <div class="col-lg-5">
        <div class="row wrapper">
            <span class="btn btn-sm circle btn-default"><i class="glyphicon glyphicon-cloud"></i></span> 
            <span class="btn btn-sm circle btn-primary"><i class="glyphicon glyphicon-globe"></i></span> 
            <span class="btn btn-sm circle btn-success"><i class="glyphicon glyphicon-music"></i></span> 
            <span class="btn btn-sm circle btn-warning"><i class="glyphicon glyphicon-fire"></i></span> 
            <span class="btn btn-sm circle btn-info"><i class="glyphicon glyphicon-headphones"></i></span> 
            <span class="btn btn-sm circle btn-danger"><i class=" glyphicon glyphicon-heart"></i></span> 
        </div>
        <div class="row wrapper">
            <span class="btn btn-md circle btn-default"><i class="glyphicon glyphicon-cloud"></i></span> 
            <span class="btn btn-md circle btn-primary"><i class="glyphicon glyphicon-globe"></i></span> 
            <span class="btn btn-md circle btn-success"><i class="glyphicon glyphicon-music"></i></span> 
            <span class="btn btn-md circle btn-warning"><i class="glyphicon glyphicon-fire"></i></span> 
            <span class="btn btn-md circle btn-info"><i class="glyphicon glyphicon-headphones"></i></span> 
            <span class="btn btn-md circle btn-danger"><i class=" glyphicon glyphicon-heart"></i></span> 
        </div>
        <div class="row wrapper">
            <span class="btn btn-lg circle btn-default"><i class="glyphicon glyphicon-cloud"></i></span> 
            <span class="btn btn-lg circle btn-primary"><i class="glyphicon glyphicon-globe"></i></span> 
            <span class="btn btn-lg circle btn-success"><i class="glyphicon glyphicon-music"></i></span> 
            <span class="btn btn-lg circle btn-warning"><i class="glyphicon glyphicon-fire"></i></span> 
            <span class="btn btn-lg circle btn-info"><i class="glyphicon glyphicon-headphones"></i></span> 
            <span class="btn btn-lg circle btn-danger"><i class=" glyphicon glyphicon-heart"></i></span> 
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="wrapper">
            <span class="btn btn-block btn-primary">Block Lvl Button</span>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="wrapper">
            <span class="btn btn-block btn-default rounded rounded-lg btn-outline">Block Lvl Button</span>
        </div>
    </div>
</div>
