/**
 * Editors & Widgets/Plugins
 */

// Tree related ===============================================================
.tree {
  list-style: none;

  .node {
    list-style: none;
    .type-indicator {
      //&:extend(.@{fa-css-prefix}-plus-square-o all); //[+]
    }

    &.expanded {
      & > .item .type-indicator {
        //&:extend(.fa-minus-square-o all); //[-]
      }
    }

  }

  .leaf {
    list-style: none;
    .type-indicator {
      .hidden
    }
  }
}

// MD related =================================================================
.md-content {
  
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: @font-size-h1 0 @font-size-h6;
  }

  h1, h2, h3, .h1, .h2, .h3 {
    border-bottom: 1px solid @hr-border;
    line-height: 1.4;
    padding-bottom: @font-size-h6/2;
  }

  h4, h5, h6, .h4, .h5, .h6 {
    color: @gray-light;
  }

  blockquote {
    font-size: @blockquote-font-size * 0.75;

    ul {
      .list-unstyled;
    }

    li > ul {
      padding-left: @font-size-base * 2.15;
    }

  }

  pre {
    padding: 4px;
  }

  hr {
    border-style: dashed;
  }

}

.md-toc {

  .md-content;
  
  ul {
    .list-unstyled;
  }

  .chapter { //h2
    a {
      color: @gray-darker;
    }
    ul {
      padding-left: @font-size-base * 2.15;
    }
    
    .section {
      a {
        color: @gray;
      }
      ul {
        a {
          color: @gray-light;
        }
      }
    }
  }

}