/**
 * This is the file editor widget style.
 *
 * @author Tim.Liu
 * @created 2013.08.01
 */


/*!
 * =======================
 * Borrowed 
 * jquery-file-upload-ui
 * =======================
 */
.fileinput-button {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 4px;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
/*!=========================*/

.custom-form-editor-file {
	.file-editor-body {
	}
}