.banner {
	.navbar-inner;

	background: none;
	background-color: @color-bg;
	border: none;
	box-shadow: none;
	border-radius: none;
	border-bottom: 1px solid darken(@color-white, 10%);
	padding: 5px 20px;

	.brand {
		color: @color-black;
		font-size: 18px;
		font-weight: bold;
		font-family: "Myriad Pro";
		letter-spacing: 1px;
		line-height: 20px;
		text-shadow: 0 1px 0 @color-white;
		padding-bottom: 9px;
	}
}