/**
 * This is the style for the Shared.User module
 *
 * @author Tim.Liu
 * @create 2013.12.22
 */

.user-bar {
    border: 2px dashed @color-stone;
    margin: @baseFontSize/3 @baseFontSize/3 0;
    padding: 5px 10px;

	li.divider {
		margin: @baseFontSize/3 1px;
	}
}

