/**
 * This one sets up the base of the theme. 
 * Utilizing variables.less, mixins.less and bootstrap provided mixins
 *
 * @author Tim.Liu
 * @created 2013.11.07
 */

//1. General
//====================
//Background


//2. Style Components
//====================
//Panels
//Alters & Messages
//Tooltips & Popups
.tooltip-inner {
  padding: 4px 6px;
}

//Buttons
.btn {
  font-weight: bold;
  background-image: none;
}

//Labels & Badges
.label {
  &[action]:hover {
      cursor: pointer;
  }
  &[action=edit] {
    background-color: @color-sand;
  }
  &[action=delete] {
    background-color: @color-red;
  }

  &-data-field {
    background-color: @color-sand;
  }
  &-na {
    background-color: @color-dark;
  }
}

/*Table td*/
.td-shrink {
  //auto td shrink;
  width: 1px;
  white-space: nowrap;
}

/*Borders*/
.with-border {
  &-left {
    border-left: 1px solid @color-stone;
  }

  &-right {
    border-right: 1px solid @color-stone;
  }

  &-top {
    border-top: 1px solid @color-stone;
  }

  &-bottom {
    border-bottom: 1px solid @color-stone;
  } 
}




