/**
 * DataGrid styles
 *
 * @author Tim.Liu
 * @created 2013.07.10
 */

//DataGrid - [BackGrid.js]
.backgrid {
  .table;

  th {
	a {
	  	color: @color-sand;
	  	&:hover {
			color: @color-dark;
			text-decoration: none;
			cursor: pointer;			
	  	}
	}
  }
}