/**
 * General styles for forms
 *
 * @author Tim.Liu
 * @created 2013.07.15
 */

.form-header-container {

}

@form-border: 1px solid #eee;
.form-body-container {
    border: @form-border;
    
	form {
		margin-bottom: 0px;

		.edit-later-info {
		    margin-bottom: 0;
		    margin-right: 10px;
		    padding: 5px 0 5px 200px;
		}

		fieldset {
			legend {
				&>span {
					//fieldset title
					padding: 8px 10px;
					background-color: #eee;
					color: @color-sand;

				}
			}

			.control-group {
				.controls {
					padding: 0 10px;
				}
			}
		}
	}    
}

.form-control-bar {
	padding: 10px;

	.form-control-bar-btn-holder {
		margin: 0 auto;
		width: 200px;
	}
}
