/**
 * General styles for forms
 *
 * @author Tim.Liu
 * @created 2013.07.15
 */

.form-header-container {

}

@form-border: 3px solid #eee;
.form-body-container {
    
	>form {
		margin-bottom: 0px;
		background-color: @color-white;
		padding: 0 20px;
		border-bottom: @form-border;
		border-left: @form-border;
		border-radius: 0 0 0 65px;

		.edit-later-info {
		    margin-bottom: 0;
		    margin-right: 10px;
		    padding: 5px 0 5px 200px;
		}

		fieldset {

			margin-bottom: 10px;

			legend {
				line-height: 24px;

				&>span {
					//fieldset title
					padding: 4px 30px;
					background-color: #eee;
					color: @color-sand;
					font-size: 14px;
					border-radius: 6px 6px 0 0;
					margin-left: 20px;
					
				}
			}

			.control-group {
				.controls {
					padding: 0 10px;
				}
			}
		}
	}    
}

.form-control-bar {
	padding: 10px;

	.form-control-bar-btn-holder {
		margin: 0 auto;
		width: 200px;
	}
}
