/*!
 * The mian CSS [LESS pre-processor] file for the site.
 * This is rendered directly on the client side by less.js
 * @author Tim.Liu
 * 
 */

/*!
 * =======================
 * Borrowed 
 * 1. twitter-bootstrap
 * 2. jquery-file-upload-ui
 * =======================
 */
@import "../../../components/bootstrap/less/bootstrap.less";
.fileinput-button {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 4px;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
/*!=========================*/

/*!
 * =========================
 * CSS Start
 * =========================
 */
//Base
@import "variables";
@import "mixins";
//Components

@import "menu-accordion";
@import "select-editor";
//Navbar - Top
.banner {
  .navbar-inner {
    padding: 5px 20px;
  }
}


//DataGrid - [BackGrid.js]
.backgrid {
  .table;
}

/*!
 * =========================
 * CSS END
 * =========================
 */