//Menu - Accordion
.menu-accordion {
  //header
  .menu-accordion-item-header {
    .btn;
    .btn-block;
    text-align: left;
    padding: 6px 20px;
    margin-bottom: 3px;

    &:focus {
      outline: none;
    }

    &.ui-accordion-header-active {
      @base-color: @color-dark;
      .buttonBackground(@base-color, darken(@base-color, 10%));
      //.btn-danger;
    }
  }

  //content
  .menu-accordion-item-content {

    ul {
      list-style: none;
      cursor: pointer;
      margin-bottom: 3px;
    }

    &>ul {
      margin-left: 5px;
    }
    
    .menu-tree {

    }

    .menu-tree-leaf {

    }    

    .menu-item {
      a {
        color: @color-dark;
        text-decoration: none;
        &:focus {
          outline: none;
        }
      }

      .icon-item{
        .icon-asterisk; // * icon
      }

    }

    .selected {
      .menu-item {
          .btn-block;
          padding-left: 5px;
          background-color: @color-sand;
          border-radius: 10px;
          a {
            color: @color-white;
          }          
      }
    }

    //group parent
    .menu-group {
      .icon-expand {
        .icon-plus; // + icon
      }
      span {
      }
    }

    .expanded {
      .menu-group {
        //change the icon
        .icon-expand {
          .icon-minus; // -- icon
        }
      }

      &>.menu-tree-leaf {
        &>li {
          &>.menu-item, &>.menu-group {
            &>.icon-sub-item {
              .icon-chevron-right; // |- icon (>)
            }
          }
        }
      }
    }      

  }

}