/**
 * Pre-set mixins
 *
 * @author Tim.Liu
 * @created 2013.07.10
 */

/*Arrows*/
@size: 10px;
@arrow-cover: @size solid transparent;
.arrow-up (@size: 10px, @color: #ddd){
	width: 0;
	height: 0;
	border-bottom: @size solid @color;
	border-left: @arrow-cover;
	border-right: @arrow-cover;
}

.arrow-down (@size: 10px){

}

.arrow-left (@size: 10px){

}

.arrow-right (@size: 10px){

}