/**
 * For new select plugin/editor to replace the original html one.
 *
 * @author Tim.Liu
 * @created 2013.07.08
 */

.select-val-ct {
	padding-top: 4px;

	.select-selected-val {
	    background: none repeat scroll 0 0 #CCCCCC;
	    border-radius: 6px 6px 6px 6px;
	    cursor: pointer;
	    line-height: 24px;
	    padding: 5px 20px;
	}
}

.select-opts {
	position: absolute;
	display: none;
}