/**
 * For new select plugin/editor to replace the original html one.
 *
 * @author Tim.Liu
 * @created 2013.07.08
 */

@select-val-opts-gap: 5px;
@select-val-min-width: 120px;
@select-val-font-size: 12px;
@select-val-bg: lighten(@color-sand, 10%);
@select-opts-bg: #eee;
@select-opts-border-size: 2px;

/*Hover Version*/
.new-select-plugin-hover {
	font-size: @select-val-font-size;

	.select-val-ct {

		.selected-items {
			margin-bottom: @select-val-opts-gap;
		}

		.select-selected-val {
			@paddingTop: 2px;
			@paddingRight: 20px;
			@paddingLeft: 4px;
			@marginTop: @select-val-opts-gap - @paddingTop;

			margin: @marginTop @select-val-opts-gap @marginTop 0;
		    padding: @paddingTop @paddingRight @paddingTop @paddingLeft;
		    background: none repeat scroll 0 0 @select-val-bg;
		    border-radius: 3px;
		    cursor: pointer;
		    text-align: center;
		    min-width: @select-val-min-width;
			position: relative;

			&-empty {
				height: @baseLineHeight;
			}

		    .close {
		    	position: absolute;
		    	top: @paddingTop;
		    	right: @paddingLeft;
		    }
		}
	}

	.select-opts {
		position: absolute; //so the editor won't take up too much space;
		display: none;
		z-index: 1;
		background-color: @select-opts-bg;
		border: @select-opts-border-size solid darken(@select-opts-bg, 10%);
		
		@padding-top: 5px;
		@padding-left: @padding-top * 2;

		padding: @padding-top @padding-left;

		.arrow {
			position: absolute;
			.arrow-up(@select-val-opts-gap, @select-opts-bg);
			margin-top: -(@padding-top + @select-val-opts-gap);
		}

		.select-opt-group {
			margin-bottom: @select-val-opts-gap;

			.select-opt-group-title {
				margin-bottom: @select-val-opts-gap;
				border-bottom: 1px solid darken(@select-opts-bg, 10%);
				font-weight: bold;
				color: @color-sand;
			}

			.select-opt-group-items {
				.clearfix;

				.select-opt-item {
					@padding-top: 2px;
					@padding-left: @padding-top * 2;

					padding: @padding-top @padding-left;
					margin: 0 @select-val-opts-gap @select-val-opts-gap 0;
					background-color: darken(@select-opts-bg, 10%);
					min-width: @select-val-min-width;
					cursor: pointer;
					text-align: center;
					.pull-left;

					&:hover {
						background-color: @color-sand;
					}

					&.selected-item {
						background-color: @color-stone;
					}

					&-empty {
						height: @baseLineHeight;
					}
				}			
			}

		}

	}

}

/*Flattened Version*/
.new-select-plugin-flatten {
	font-size: @select-val-font-size;
	
	@padding-top: 2px;
	@padding-left: @padding-top * 2;
	@tools-border: 1px solid @select-opts-bg;
	
	.select-opts {
		padding: 0;

		.tools {
			//search, more/less, others
			display: none;
			margin-bottom: @select-val-opts-gap;
			border-bottom: @tools-border;
			padding-right: 10px;

			.tool-opts-expand {
			    background-color: @select-opts-bg;
			    border-radius: 6px 6px 0 0;
			    padding: 5px;
			    margin-top: 5px;
			    cursor: pointer;
			    .font-size(@select-val-font-size);
				
				span {
					.hide;
				}

				//default on collapsed
		    	.more-opts {
		    		.show;
		    	}
				.less-opts {
					.hide;
				}	

			    &.expanded {
					.less-opts {
						.show;
					}
			    	.more-opts {
			    		.hide;
			    	}					
			    }		    	
			}

			.tool-opts-search {
				display: none;

				.tool-opts-search-input {
					width: auto;
					.font-size(@select-val-font-size);
				}
			}

			.add-on {
				.font-size(@select-val-font-size);
			}

		}

		.select-opt-groups {
			overflow: hidden;
		}

		.select-opt-group {
			margin-bottom: @select-val-opts-gap;


			.select-opt-group-title {
				margin-bottom: @select-val-opts-gap;
				border-bottom: 1px solid darken(@select-opts-bg, 10%);
				font-weight: bold;
				color: @color-sand;
			}

			.select-opt-group-items {
				.clearfix;

				.select-opt-item {
					padding: @padding-top @padding-left;
					margin: 0 @select-val-opts-gap @select-val-opts-gap 0;
					background-color: @select-opts-bg;
					min-width: @select-val-min-width;
					cursor: pointer;
					text-align: center;
					.pull-left;
					border-radius: 4px;
					
					&:hover {
						background-color: @color-sand;
					}

					&.selected-item {
						background-color: @color-stone;
					}

					&-empty {
						height: @baseLineHeight;
					}
				}			
			}

		}		
	}
}