/**
 * For new select plugin/editor to replace the original html one.
 *
 * @author Tim.Liu
 * @created 2013.07.08
 */

.select-val-ct {
	padding-top: 2px;
	position: absolute; //so the editor won't take up too much space;

	.select-selected-val {
		@paddingTop: 2px;
	    background: none repeat scroll 0 0 #CCCCCC;
	    border-radius: 3px;
	    cursor: pointer;
	    line-height: 24px;
	    padding: @paddingTop 5px @paddingTop 20px;

	    .close {
	    	padding-top: @paddingTop;
			margin-left: 10px;
	    }
	}
}

.select-opts {
	position: absolute;
	display: none;
	
	padding: 10px 20px;
	background-color: #eee;
	border: 3px solid #eee;

	.select-opt-group {
		.select-opt-group-title {
			margin-bottom: 3px;
			border-bottom: 1px solid #ddd;
			font-weight: bold;
			color: @color-sand;
		}

		.select-opt-group-items {
			.clearfix;
			.select-opt-item {
				padding: 5px 10px;
				margin-right: 5px;
				background-color: #ccc;
				.pull-left;
			}			
		}

	}

}