/**
 * Colors, Size, and basic attributes.
 *
 * @author Tim.Liu
 * 
 */

//Overriden Existing Vars
//=======================

//NavBar
@navbarBackgroundHighlight: lighten(@color-white, 5%);


//Specific to our application
//===========================
@color-sand: #B8AE9C;
@color-stone: #ACCFCC;
@color-white: #FFFFFF;
@color-dark: #595241;
@color-red: #8A0917;