/**
 * General template/layout styles
 *
 * @author Tim.Liu
 * @created 2013.07.12
 */

.module-admin-layout-wrap {

	padding: 0 6px;

	.default-layout-header {
		padding: 11px 0 6px 0;
		color: @color-black;
		font-weight: bold;
		font-size: 14px;

		ul > li {
			padding-left: 0;
			opacity: 0.3;
			&:last-child{
				opacity: 1;
				i {
					display: none;
				}
			} 
		}
	}

	.default-layout-body {

		.admin-submodule-general-form {

			border: 5px solid @color-bg;
			margin-bottom: 10px;

			.form-body {
				padding:10px 20px;
				max-width: 660px;
				margin: 0 auto;
			}

			.btn-bar-ct {

				padding: 10px 0 5px 0;
				background-color: @color-bg;
				.btn-bar {
					width: 200px;
					margin: 0 auto;

					.btn {
						width: 70px;
					}
				}

			}


		}

	}

}