/**
 * General template/layout styles
 *
 * @author Tim.Liu
 * @created 2013.07.12
 */

.module-admin-layout-wrap {
	padding: 0 20px 0 10px;

	.default-layout-header {
		padding: 5px 5px;
		border-bottom: 3px dotted #EEE;

		.default-layout-header-title {
			font-size: 18px;
			font-weight: bold;
			color: @color-sand;
			//text-shadow: 1px 1px 1px @color-dark;
		}
	}

	.default-layout-body {

	}

}