/**
 * This is the style for the accordion menu widget
 *
 * @author Tim.Liu
 * @created 2014.01.01
 */

@groupWidth: 100px;
.widget-accordion-menu {

	margin-top: 4px;
	background: @color-bg;

	.groups-ct {
		width: @groupWidth;
		height: 100%;
		float: left;

		.groups {
			.group {
				height: 60px;
				padding: 10px 0 5px;
				text-align: center;
				border-bottom: 1px solid @color-dark;
				cursor: pointer;

				.group-icon-ct {
					i {
						display: block;
						height: 32px;
						width: 32px;
						margin: 0 auto;
						border-radius: 500px;
						border: 3px solid @color-sand;
					}
				}

				.group-label {
					font-weight: bold;
					margin-top: 5px;
				}

				&:hover {
					background-color: darken(@color-bg, 5%);
				}

				&.active {
					background-color: @color-white; 
				}	
			}
		}
	}
	
	.sections-ct {
		margin-left: @groupWidth;
	}

}
