/**
 * This is the toolbar widget 'toolbelt' style
 */
.tool-belt {

	.toolbelt-btns {
		margin: 0;

		.tool-group {
			.btn-group;
			padding: 0 5px;
			border-left: 1px dotted darken(@color-bg, 20%);

			&:first-child {
				border-left: none;
			}

			.btn {
				background-color: transparent;
				border-color: @color-bg;
				box-shadow: none;

				&:hover {
					border-color: darken(@color-bg, 10%);
				}

				&:active, &.active{
					background-color: darken(@color-bg, 5%);
					border-color: darken(@color-bg, 10%);
				}

			}
		}

	}

	.toolbelt-panel {
		border-top: 1px dotted @color-sand;
		margin-top: 5px;
		padding: @baseFontSize/2 @baseFontSize;
	}


}
