/**
 * This is the toolbar widget 'toolbelt' style
 */

.btn-toolbar {
  margin: 0;

  .btn {
  	background-color: transparent;
  	border-color: @color-bg;
  	box-shadow: none;

  	&:hover {
  		border-color: darken(@color-bg, 10%);
  	}

  }
}